@font-face {
  font-family: CooperHewitt-Light;
  src: url('../../app/fonts/CooperHewitt-Light.otf');
}


@font-face {
  font-family: CooperHewitt-Medium;
  src: url('../../app/fonts/CooperHewitt-Medium.otf');
  font-weight: bold;
}


@font-face {
  font-family: CooperHewitt-Bold;
  src: url('../../app/fonts/CooperHewitt-Bold.otf');
}


@font-face {
  font-family: CooperHewitt-Thin;
  src: url('../../app/fonts/CooperHewitt-Thin.otf');
}

@font-face {
  font-family: CooperHewitt-Book;
  src: url('../../app/fonts/CooperHewitt-Book.otf');
}
