.blue {
    color: #233D6C;
}

.project__logo--little {
    min-width: 97px;
    width: 110px;
}

.project__url {
    font-family: 'CooperHewitt-Book';
}

.project__url:not(:hover) {
    color: #233D6C;
}

.project__title {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
    margin: 0px 0px 3px 0px;
}

.project__title a:not(:hover) {
    color: #233D6C;
}


.project__video {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.project__share img {
    height: 20px;
    vertical-align: middle;
}

.project__blog-url {
    width: 80%;
}

.project__sub_category {
    font-weight: normal;
    font-size: 14px;
    margin: 5px 3px 3px 0px;
}

.project-view__share > * {
    display: inline-block;
}

.twitter-share-button {
    vertical-align: text-bottom;
}

.project__description {
    opacity: 0.8;
    text-align: justify;
}

.project__counter {
    font-size: 0.9em;
    padding-left: 25px;
    width: inherit;
}

.project__counter:hover {
    color: #EE5730;
    cursor: pointer;
    width: inherit;

}
