<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% block meta %}
        
    {% endblock meta %}
    
    <title></title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-view.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/sticky-bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/atom/project.css' %}" />
    
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gridism/gridism.css' %}" />

</head>
<body>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '935935106494041',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <div class="sticky-bar vertical-text">
        <h4 class="blog-link__label">
            <a href="http://consocollaborative.com" target="_blank">
             Visiter <span class="blog-link__label--bold"> le blog </span> 
            <img src="{% static 'app/img/picto__blog.png' %}" class="blog-link__arrow">
            </a>
        </h4>
    </div>

    {% block navbar %}
        <div class="navbar">
            <div class="navbar__left-logo">
                <a href=" {% url 'home' %}">
                    <img src="{% static 'app/img/logo__conso.png' %}">
                </a>
            </div>

            {% block navbar_main %}

            <div class="navbar__welcome-text">
                <p> L'ensemble de la consommation collaborative </p>
                <p> à porté de clic  </p>
            </div>

            {% endblock %}
            
            <div class="navbar__right-partner">
                <a href="https://www.maif.fr/maif-pour-une-societe-collaborative/accueil.html">
                    <img src="{% static 'app/img/logo__maif.png' %}">
                </a>
            </div>
        </div>

    {% endblock navbar %}

    {% block options %}
        
        <div class="options-bar grid">
            <div class="unit one-fifth">
            </div>

            <div class="unit three-fifths">
                {% block options_content %}
                    
                {% endblock options_content %}
            </div>

            <div class="unit one-fifth">
                <div class="options-bar__search">
                    <form type="get" action="projects">
                        <img class="search__icon" src="{% static 'app/img/picto__loupe.png' %}">
                        <input class="search__input" name="search" placeholder="Que recherchez-vous ?"></input>
                    </form>
                </div>
            </div>
        </div>


    {% endblock options %}
        
    <div class="content">

        {% block content %}

        This part should be redefined

        {% endblock content %}
    </div>


    {% include "app/footer.html" %}


</body>
</html>


