<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-view.css' %}" />
    
    {% load static %}
    <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gridism/gridism.css' %}" />

</head>
<body>


    {% block navbar %}

        <div class="navbar">
            <div class="navbar__left-logo">
                <a href=" {% url 'home' %}">
                    <img src="static/app/img/logo__conso.png">
                </a>
            </div>
            <div class="navbar__welcome-text">
                <p> Bienvenue sur l'annuaire </p>
                <p> de la consommation collaborative ! </p>
            </div>
            <div class="navbar__right-partner">
                <img src="static/app/img/logo__maif.png">
            </div>
        </div>

    {% endblock navbar %}

    {% block options %}
        
        <div class="options-bar grid">
            <div class="unit one-fifth">
                <div class="options-bar__blog-link">
                    <p class="blog-link__label">
                        <a href="http://consocollaborative.com" target="_blank">
                            <img src="static/app/img/picto__arrow.png" class="blog-link__arrow"> Visiter <span class="blog-link__label--bold"> le blog </span> 
                        </a>
                    </p>
                </div>
            </div>

            <div class="unit three-fifths">
                {% block options_content %}
                    
                {% endblock options_content %}
            </div>

            <div class="unit one-fifth">
                <div class="options-bar__search">
                    <img class="search__icon" src="static/app/img/picto__loupe.png">
                    <input class="search__input" placeholder="Que recherchez-vous ?"></input>
                </div>
            </div>
        </div>


    {% endblock options %}
        
    <div class="content">

        {% block content %}

        This part should be redefined

        {% endblock content %}
    </div>


    {% include "app/footer.html" %}


</body>



