<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% block meta %}
        
    {% endblock meta %}
    
    <title>L'annuaire de la consocollab</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'gridism/gridism.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/atom/picto.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/atom/text.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/molecule/facebook_connexion.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/component/options_content.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/component/pagination.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/component/project_form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-view.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/project-card.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/sticky-bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/atom/project.css' %}" />
    {# <link rel="stylesheet" type="text/css" href="{% static 'app/css/submission.css' %}" /> #}
    
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/csrf.js' %}"></script>
    <link rel="icon" href="{% static 'app/img/favicon.png' %}" />

</head>
<body>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '935935106494041',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5407632-11', 'auto');
  ga('send', 'pageview');

</script>
    <div class="sticky-bar vertical-text">
        <h4 class="blog-link__label">
            <a href="http://consocollaborative.com" target="_blank">
             Visiter <span class="blog-link__label--bold"> le blog </span> 
            <img src="{% static 'app/img/picto__blog.png' %}" class="blog-link__arrow">
            </a>
        </h4>
    </div>

    {% block navbar %}
        <div class="navbar">
            <div class="navbar__left-logo">
                <a href=" {% url 'home' %}">
                    <img src="{% static 'app/img/logo__conso.png' %}">
                </a>
            </div>

            {% block navbar_main %}

            <div class="navbar__welcome-text">
                <h4> L'ensemble de la consommation collaborative </h4>
                <h4> à porté de clic  </h4>
            </div>

            {% endblock %}
            
            <div class="navbar__right-partner">
                <a href="https://www.maif.fr/maif-pour-une-societe-collaborative/accueil.html">
                    <img src="{% static 'app/img/logo__maif.png' %}">
                </a>
            </div>
        </div>

    {% endblock navbar %}

    {% block options %}
        <div class="grid no-stacking-on-mobiles">
          <div class="unit one-fifth">
            {% include "app/facebook_connexion.html" %}
          </div>

          <div class="unit three-fifths">
          </div>

          <div class="unit one-fifth">
                <div class="options-bar__search">
                    <form type="get" action="/projects">
                        <img class="search__icon" src="{% static 'app/img/picto__loupe.png' %}">
                        <input class="search__input" name="search" placeholder="Recherche"></input>
                    </form>
                </div>
            </div>
        </div>
        <div class="options-bar grid no-stacking-on-mobiles">
            <div class="unit one-fifth">
            </div>

            <div class="unit three-fifths options_content">
                {% block options_content %}
                    
                {% endblock options_content %}
            </div>

            <div class="unit one-fifth">
              {% block display_options %}
              
              {% endblock display_options %}

            </div>
            
        </div>


    {% endblock options %}
        
    <div class="content">

        {% block content %}

        This part should be redefined

        {% endblock content %}
    </div>


    {% include "app/footer.html" %}

        <script type="text/javascript" src="{% static 'app/js/vote.js' %}"></script>

</body>
</html>


