{% extends "app/base.html" %}

{% block options_content %}

    <h2 class="options_content__subtitle">Je donne mon avis</h2>

{% endblock options_content %}


{% block content %}
    <div class="grid">
    <div class="unit one-fifth"></div>
    <div class="unit three-fifths main-content">

        
        <p> Le guide de la consommation collaborative est un espace d'échange co-construit avec la communauté. N'hésitez pas à nous donner votre avis ! </p>

        <div class="project-form__form">
            <form action="/submission/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="foo" type="submit" value="Envoyer" />
            </form>
        </div>

    </div>
    <div class="unit one-fifth"></div>
</div>

 
{% endblock content %}
