{% extends "app/base.html" %}

{% block options_content %}

    <h5>INFORMATIONS</h5>
    <h2 class="options_content__subtitle">MENTIONS LÉGALES</h2>

{% endblock options_content %}


{% block content %}
    <div class="grid">
    <div class="unit one-fifth"></div>
    <div class="unit three-fifths main-content">
            <h5>PROPRIÉTAIRE</h5>

            <p>Le site Annuaire de la Consommation Collaborative est la propriété de A&E Production SAS, 4 Rue Botzaris.</p>
    

            <h5>DIRECTEUR DE LA PUBLICATION</h5>
            <p>Le directeur de la publication est Antonin Léonard.</p>


            <h5>CRÉDIT</h5>
            <p>
                UX Design by <a href="http://www.collectifbam.fr"> Collectif Bam
                </a>
            </p>
            <p>
                <a href="http://creativecommons.org/licenses/by-sa/3.0/fr/">
                Licence Creative Commun CC BY SA
                </a>
            </p>

            <h5>HÉBERGEUR</h5>
            Le site Annuaire de la Consommation Collaborative est hébergé par la société OVH
            <p>SAS au capital de 10 000 000 €<br>
            RCS Roubaix – Tourcoing 424 761 419 00045<br>
            Code APE 6202A<br>
            N° TVA : FR 22 424 761 419<br>
            Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>


            <h5>LIMITATIONS DE RESPONSABILITÉ</h5>
            <p>Malgré toute l’attention apportée sur la qualité des informations, fonctionnalités et contenus disponibles sur notre site Internet, A&E production SAS ne saurait être tenue pour responsable des imprécisions, erreurs, absences de disponibilité des fonctionnalités et / ou du contenu. A&E Prodcution SAS recommande vivement aux visiteurs d’installer et d’utiliser un anti-virus à jour. A&E Production SAS ne pourra être tenu pour responsable d’aucun dommage causé par l’utilisation de son site Internet.</p>

            <p>Si vous constatez un défaut, merci de nous le signaler par courriel.</p>


            <h5>LOI INFORMATIQUE ET LIBERTÉ</h5>
            <p>Conformément à l’article 32 de la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, les informations transmises par le biais des formulaires présents sur le site sont nécessaires pour répondre à la demande de l’utilisateur et sont destinées à A&E Production SAS, en tant que responsable du traitement à des fins de gestion administrative et commerciale.</p>

            <p>En tant qu’utilisateur du site Internet, vous disposez d’un droit d’accès, d’interrogation, modification ou de suppression des données personnelles le concernant. L’utilisateur dispose également d’un droit d’opposition au traitement de ses données pour des motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale.</p>

            <p>Ces droits s’exercent auprès de A&E Production par courrier accompagné d’une copie d’un titre d’identité en cours de validité comportant une signature à adresser à :</p>
            <p>A&E Production<br>
            5 rue Botzaris <br>
            75019 Paris<br>
            FRANCE</p>


            <h5>COOKIES</h5>
            <p>La navigation sur ce site entraîne la création d’un ou plusieurs Cookies stockés sur l’ordinateur du visiteur via le navigateur Internet. Ces Cookies sont utilisés pour stocker des données anonymes et temporaire servant à enregistrer certaines informations relative à la navigation sur le site Internet et les interactions de l’utilisateur.</p>

            <p>L’utilisateur peut utiliser tout ou partie du site Internet en désactivant les Cookies dans la configuration de son navigateur Internet. Certaines fonctionnalités risquent néanmoins de ne plus fonctionner correctement, et certaines pages peuvent ne plus être accessibles.</p>


            <h5>PROPRIÉTÉ INTELLECTUELLE</h5>
            <p>Certains textes, images, animations, scripts, code complet ou partiel sont la propriété exclusive de A&E Production SAS. Les autres éléments sont la propriété de A&E Production et/ou de leurs propriétaires respectifs.

            Toute représentation totale ou partielle du site Internet ou de ses visuels, logos, ou toute autre donnée du site Internet sans autorisation écrite  de A&E Production est strictement interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
    </div>
    <div class="unit one-fifth"></div>
</div>

 
{% endblock content %}
