{% load static %}

<div class="footer">

    <div class="footer__partners">
        <a href="https://www.maif.fr/maif-pour-une-societe-collaborative/accueil.html">
            <img src="{% static 'app/img/logo__maif.png' %}">
        </a>
        <a href="https://www.famust.com">
            <img src="{% static 'app/img/logo__famust.png' %}">
        </a>
    </div>

    <div class="footer__credits">
        <a href=""> Crédit </a> | 
        <a href="http://consocollaborative.com/mentions-legales/"> Mentions légales </a> |
        <a href="http://consocollaborative.com/contact/"> Contactez-nous </a>
    </div>

    <div class="footer__suggest-project">
        <button>Je porte un projet </button>
    </div>

    <div class="footer__social">
        <img src="{% static 'app/img/picto__facebook.png' %}">
        <img src="{% static 'app/img/picto__twitter.png' %}">
    </div>

</div>
