{% load static from staticfiles %}

<div class="footer">

    <div class="footer__partners">
        <a href="https://www.maif.fr/maif-pour-une-societe-collaborative/accueil.html">
            <img src="{% static 'app/img/logo__maif-blue.png' %}">
        </a>
        <a href="https://www.famust.com">
            <img src="{% static 'app/img/logo__famust-blue.png' %}">
        </a>
    </div>

    <div class="footer__credits">
        <a href="{% url 'mentions-legales' %}"> Mentions légales </a> |
        <a href="http://consocollaborative.com/contact/"> Contactez-nous </a>
    </div>

    <div class="footer__suggest-project">
        <a href="{% url 'submission' %}"><button>Je porte un projet </button></a>
    </div>

    <div class="footer__social">
        <a href="https://www.facebook.com/consommationcollaborative" target="_blank"><img src="{% static 'app/img/picto__facebook-blue.png' %}"></a>
        <a href="https://twitter.com/ccollab" target="_blank"><img src="{% static 'app/img/picto__twitter-blue.png' %}"></a>
    </div>

</div>
