<div class="footer">

    <div class="footer__partners">
        <img src="static/app/img/logo__maif.png">
        <img src="static/app/img/logo__famust.png">
    </div>

    <div class="footer__credits">
        <a href=""> Crédit </a> | 
        <a href=""> Mentions légales </a>
    </div>

    <div class="footer__suggest-project">
        <button>Je porte un projet </button>
    </div>

    <div class="footer__social">
        <img src="static/app/img/picto__facebook.png">
        <img src="static/app/img/picto__twitter.png">
    </div>

</div>
