{% load static from staticfiles %}
{% with 'habitat biens savoir mobilite alimentation finance services ' as categories %}
    <div class="navbar__categories">
        {% for cat in categories.split %}
                <div class="category-list__item">
                        {% if cat == category %}
                            <a class="category-link__label--little blue picto__cat-{{cat}}-hover" href="projects?category={{cat}}"> {{ cat }}
                            </a>
                        {% else %}
                            <a class="category-link__label--little picto__cat-{{cat}}" href="/projects?category={{cat}}"> {{ cat }}
                            </a>
                        {% endif %}
                </div>
        {% endfor %}
    </div>
        {# HACK #}
    <div class="navbar__welcome-text">
    </div>
{% endwith %}
