<div class="grid no-stacking-on-mobiles">
    <div class="unit one-fifth"></div>
    <div class="project-view unit three-fifths">
        <div class="project-view__logo">
            <a href="{% url 'project' project.slug %}">
                <img src="{{ project.image }}">
            </a>
        </div>
        <div class="project-view__info">
            <div class="project-view__header">
                <h2 class="project__title"> 
                    <a href="{% url 'project' project.slug %}">{{ project.title }} </a>
                </h2>
                <div class="project-detail__sub_categories">
                    {% for sub_cat in project.sub_categories.all %}
                        <h4 class="project__sub_category"> 
                            {{ sub_cat.name }}
                        </h4>
                    {% endfor %}
                </div>
            </div>
            <div class="project-list__subinfo">
                <div class="project-list__url">
                    <a class="project__url" target="_blank" href="{{ project.url }}"> 
                        {{ project.clean_url }} 
                    </a>
                </div>
                <div class="project-list__like">
                    <span class="project__counter 
                            {% if project in liked_projects %}
                                picto__heart-full
                            {% else %}
                                picto__heart-empty
                            {% endif %}
                            " data-project="{{project.id}}"> {{ project.votes.count }}
                    </span>
                </div>
            </div>
            <p class="project__slogan"> 
               <a href="{% url 'project' project.slug %}"> {{ project.slogan }} </a>
            </p>
            <p class="project__description"> 
                <a href="{% url 'project' project.slug %}">{{ project.description | truncatechars:180 }} </a>
            </p>
            <div class="project-view__footer">
                <div class="project-view__share">
                </div>
            </div>
        </div>
    </div>
    <div class="unit one-fifth"></div>
</div>
