<div class="project-card">
    <div class="project-card__top">
        <div class="project-card__top-logo">
            <a href="{% url 'project' project.pk %}">
                <img class="project__logo--little" src="{{ project.image }}">
            </a>
        </div>
        <div class="project-card__top-header">
            <h3 class="project__title"> 
                <a href="{% url 'project' project.slug %}">{{ project.title | truncatechars:25 }} </a>
            </h3>
            <div class="project-card__sub_categories">
                {% for sub_cat in project.sub_categories.all %}
                    <h4 class="project__sub_category"> 
                        {{ sub_cat.name }}
                    </h4>
                {% endfor %}
            </div>
            <div class="project-card__url">
                <a class="project__url" href="{{ project.url }}"> 
                {{ project.url | truncatechars:20 }} 
                </a>
            </div>
        </div>
    </div>
    <div class="project-card__slogan">
        <p class="project__slogan"> 
            {{ project.slogan | truncatechars:120 }} 
        </p>
    </div>
    <div class="project-card__footer">
            <div class="project-view__share">
                <div class="fb-share-button" data-href="{% url 'project' project.pk %}" data-layout="button_count"></div>
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet"></a>
        </div>
    </div>
</div>
