<div class="project-card">
    <div class="project-card__top">
        <div class="project-card__top-logo">
            <a href="{% url 'project' project.pk %}">
                <img class="project__logo--little" src="{{ project.image }}">
            </a>
        </div>
        <div class="project-card__top-header">
            <h3 class="project__title"> 
                <a href="{% url 'project' project.slug %}">{{ project.title | truncatechars:25 }} </a>
            </h3>
            <div class="project-card__sub_categories">
                {% for sub_cat in project.sub_categories.all %}
                    <h4 class="project__sub_category"> 
                        {{ sub_cat.name }}
                    </h4>
                {% endfor %}
            </div>
<!--        <div class="project-card__url">
                <a class="project__url" target="_blank" href="{{ project.url }}"> 
                {{ project.url | truncatechars:20 }} 
                </a>
            </div> -->
        </div>
    </div>
    <div class="project-card__slogan">
        <p class="project__slogan"> 
            {{ project.slogan | truncatechars:120 }}
        </p>
    </div>
    <div class="project-card__footer">
        <div class="project-card__like">
        {% if user.is_authenticated %}
             <span class="project__counter 
                {% if project in liked_projects %}
                    picto__heart-full
                {% else %}
                    picto__heart-empty
                {% endif %}
                " data-project="{{project.id}}"> {{ project.votes.count }}</span>
        {% else %}
            <a href=" {% url 'social:begin' 'facebook' %}">
                <span class="project__counter  picto__heart-empty"> {{ project.votes.count }}</span>
        {% endif %}
            </a>
        </div>
    </div>
</div>
