{% extends "app/base.html" %}

{% block navbar_main %}
    {% include "app/navbar_main.html" %}
{% endblock navbar_main %}

{% block options_content %}

    <h5>FORMULAIRE</h5>
    <h2 class="options_content__subtitle">JE PORTE UN PROJET</h2>

{% endblock options_content %}

{% block content %}
<div class="grid">
    <div class="unit one-fifth"></div>
    <div class="unit three-fifths project-form">
        <div class="project-form__title">
            <h3>
                Vous souhaitez être présent sur le Guide de la Conso Collaborative ? 
            </h3>
            <p> Remplissez les informations ci-dessous
            </p>    
        </div>
        
        <hr>
        <div class="project-form__form">
            <form action="/submission/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="foo" type="submit" value="Envoyer" />
            </form>
        </div>
    </div>
    <div class="unit one-fifth"></div>
</div>
{% endblock content %}
