{% extends "app/base.html" %}

{% block navbar_main %}
    {% include "app/navbar_main.html" with category=request.GET.category %}
{% endblock navbar_main %}

{% block options_content %}
    {% load static %}
    {% with request.GET.sub_cat|add:"0" as selected_sub_cat %}
        {% if not request.GET.search %}
            <div class="options-bar__sub-categories">
                {% for sub_cat in sub_categories %}
                        {% if selected_sub_cat == sub_cat.pk %}
                            <p class="sub-category">
                                <a href="{% url 'projects' %}?category={{request.GET.category}}">
                                <img 
                                    src="{% static 'app/img/picto__moins.png' %}">
                                    {{ sub_cat.name }}
                                </a>
                            </p>
                        {% else %}
                            <p class="sub-category sub-category--deactivate">
                                <a href="{% url 'projects' %}?category={{request.GET.category}}&sub_cat={{sub_cat.pk}}">
                                <img src="{% static 'app/img/picto__plus.png' %}">
                                    {{ sub_cat.name }}
                                </a>
                            </p>
                        {% endif %}
                {% endfor %}
        
            </div>
        {% else %}
                <h5>RECHERCHE POUR</h5>
                <h2 class="options_content__subtitle">{{ request.GET.search }} <span style="font-size:14px;">({{ projects.count }})</span></h2>
        {% endif %}
    {% endwith %}
    
{% endblock options_content %}

{% block content %}

    {% for project in projects %}
        <div class="grid no-stacking-on-mobiles">
            <div class="unit one-fifth"></div>
            <div class="project-view unit three-fifths">
                <div class="project-view__logo">
                    <a href="{% url 'project' project.pk %}">
                        <img src="{{ project.image }}">
                    </a>
                </div>
                <div class="project-view__info">
                    <div class="project-view__header">
                        <h2 class="project__title"> 
                            <a href="{% url 'project' project.pk %}">{{ project.title }} </a>
                        </h2>
                        <div class="project-detail__sub_categories">
                            {% for sub_cat in project.sub_categories.all %}
                                <h4 class="project__sub_category"> 
                                    {{ sub_cat.name }}
                                </h4>
                            {% endfor %}
                        </div>
                    </div>
                    <p class="project__slogan"> 
                        {{ project.slogan }} 
                    </p>
                    <p class="project__description"> 
                        {{ project.description | truncatechars:120 }} 
                    </p>
                    <div class="project-view__footer">
                        <a class="project__url" href="{{ project.url }}"> 
                        {{ project.url }} 
                        </a>
                        <div class="project-view__share">
                            <div>
                                <div class="fb-share-button" data-href="{% url 'project' project.pk %}" data-layout="button_count"></div>
                            </div>
                            <div>
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit one-fifth"></div>
        </div>

    {% empty %}
    
    <div class="grid">
        <div class="unit one-fifth"></div>
        <div class="unit three-fifths">
            <h4> Pas encore de projets dans cette catégorie.</h4>
            <p> Ca ne va pas tarder !</p>
        </div>
        <div class="unit one-fifth"></div>
    </div>

    {% endfor %}

        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&category={{request.GET.category}}&as_list={{request.GET.as_list}}">Précédente</a> -
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&category={{request.GET.category}}&as_list={{request.GET.as_list}}"> - Suivante</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
{% endblock content %}


