{% extends "app/base.html" %}

{% block options_content %}
    {% with request.GET.sub_cat|add:"0" as selected_sub_cat %}
        {% if not request.GET.search %}
            <div class="options-bar__sub-categories">
                {% for sub_cat in sub_categories %}
                        {% if selected_sub_cat == sub_cat.pk %}
                            <p class="sub-category">
                                <a href="{% url 'projects' %}?category={{request.GET.category}}">
                                <img 
                                    src="{% static 'app/img/picto__moins.png' %}">
                                                {{ sub_cat.name }}
                                </a>
                            </p>
                        {% else %}
                            <p class="sub-category sub-category--deactivate">
                                <a href="{% url 'projects' %}?category={{request.GET.category}}&sub_cat={{sub_cat.pk}}">
                                <img src="{% static 'app/img/picto__plus.png' %}">
                                                {{ sub_cat.name }}
                                </a>
                            </p>
                            {% endif %}
                
                {% endfor %}
            </div>
        {% else %}
            <div class="options-bar__search-info">
                <p> Recherche pour </p>
                <p> {{ request.GET.search }} ({{ projects.count }}) </p> 
            </div>
        {% endif %}
    {% endwith %}
    
{% endblock options_content %}

{% block content %}
<div class="project-list">
    {% for project in projects %}
        <div class="grid">
            <div class="unit one-fifth"></div>
            <div class="project-view unit three-fifths">
                <div class="project-view__logo">
                    <img src="{{ project.image }}">
                </div>
                <div class="project-view__info">
                    <div class="project-view__header">
                        <h2 class="project__title"> 
                            {{ project.title }} 
                        </h2>
                        <h4 class="project-view__category"> 
                            {# category-link__label for class ? #}
                            {{ category.name }} 
                        </h4>
                    </div>
                    <p class="project__slogan"> 
                        {{ project.slogan }} 
                    </p>
                    <p class="project__description"> 
                        {{ project.description | truncatechars:120 }} 
                    </p>
                    <a class="project-view__url" href="{{ project.url }}"> 
                        {{ project.url }} 
                    </a>

                </div>
            </div>
            <div class="unit one-fifth"></div>
        </div>
    {% endfor %}
</div>

{% endblock content %}


