.project-view {
    display: table;
    margin-top: 3%;
    padding: 0px 15px 10px 15px !important;
    background-color: white;
    color: #233D6C;
    border: 1px solid #233D6C;
}

.project-view:hover {
    border-color: #EE5730;
}

.project-view__logo {
    display: table-cell;
    width: 26%;
}

.project-view__logo img {
    height: 200px;
}

.project-view__info {
    vertical-align: middle;
    display: table-cell;
}

.project-view__header > * {
    display: inline-block;
}

.project-view__footer > * {
    display: inline-block;
}

.project-view__share {
    float: right;
}
