html, body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    font-family: 'CooperHewitt';
}

input, button, a {
    font-family: 'CooperHewitt';
}

a {
    text-decoration: none;  
}

a:hover {
    color: #EE5730;
}

h1, h2, h3, h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

h4 {
    font-weight: bold;
}

h5 {
    color: #233D6C;
    margin: 30px 0px 10px 0px;
}

p {
    color: black;
    text-align: justify;
}

.options_content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 2%;
}

.options_content__subtitle {
    margin: 0px;
}

/*-------*/
/*CONTENT*/
/*-------*/

.content {
    width: 100%;
    padding-bottom: 2%;
    min-height: 68%;
    background-color: #F4F2F7;
    position: relative;
}


.main-content {
    margin-top: 3%;
    padding: 0px 35px 25px 35px !important;
    background-color: white;
    color: #233D6C;
    border: 1px solid #233D6C;
}

.category-list {
    text-transform: uppercase;
    display: table;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 50px 50px 100px;
}

.category-list__item {
    display: table-cell;
    padding: 0px 20px 0px 20px;
}


.category-list__item:hover a {
    color: #EE5730;
}

.category-link__label {
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: #233D6C;
}


.navbar__categories {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 30%;
}

.category-list__item--little {
    padding: 0px 10px 0px 10px;
}

.category-link__label--little {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
}

.category-list__item--little:hover a{
    color: black !important;
}

.category-link__picto {
    height: 100px;
}

.category-link__picto--little {
    height: 60px;
}
